
<section id="start" class="hero">
  <div class="hero__glass-card">
    <div class="hero__scanner-line"></div>

    <div class="hero__content">
      <div class="hero__status-tag">{{ 'START.STATUS' | translate }}</div>

      <h1 class="hero__title">{{ 'START.TITLE' | translate }}</h1>
      <p class="hero__subtitle">
        <span class="typing-text">{{ 'START.SUBTITLE_1' | translate }}</span>
        <span class="typing-text">{{ 'START.SUBTITLE_2' | translate }}</span>
      </p>

      <div class="mission-controls">
        <nav class="social-grid">
          <a href="https://github.com/EmilygsDev" class="social-grid__item" title="GitHub Source">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://linkedin.com/in/emilydev" class="social-grid__item" title="LinkedIn Profile">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a href="CVGomezEmily_2026.pdf" download class="social-grid__item social-grid__item--highlight" title="Download CV">
            <i class="fa-solid fa-file-pdf"></i>
          </a>
        </nav>
      </div>
    </div>

    <div class="corner corner--tl"></div>
    <div class="corner corner--tr"></div>
    <div class="corner corner--bl"></div>
    <div class="corner corner--br"></div>
  </div>


</section>


